{{!-- BUSCADOR DE EMPRESAS POR RAMO --}}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"></a>
  {{!-- <form class="form-inline" action="/ver" method="POST">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="ramo" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> --}}
  <div class="ui-widget">
  <label for="tags">Ingrese el rubro de empresas que desea buscar: </label>
  <input id="tags">
</div>
</nav>



{{!-- PRESENTACION DE LOS PROVEEDORES EN PANTALLA --}}
{{#if mensaje}}
<br><div class="alert alert-danger" role="alert">
  <strong>Cuidado!,</strong> No hay proveedores en este rubro.
</div>
{{/if}}

<div class="contenedor">
{{#each productos }}
<a href="../modificar/{{nombre}}">
    <div class="boxEmpresa border border-dark">
      <img class="card-img-top tamanoImagen" src="../images/{{imagen}}">
      <div class="card-body">
        <h5 class="card-title tituloProducto">{{nombre}}</h5>
        <p class="card-text" class="textoProducto">{{correo}}</p>
        <p class="card-text" class="textoProducto">{{telefono}}</p>
        <p class="card-text" class="textoProducto">{{correo}}</p>
        <p class="card-text" class="textoProducto">{{contacto}}</p>
        {{!-- <a href="#" class="btn btn-primary">Modificar</a> --}}
      </div>
    </div>
</a>
{{/each}}
</div>

<script>
/*  $( function() {
    $( document ).ready(function() {
    var availableTags = [];

  $.ajax({
      method: "POST",
      url: "/ajax",  
      success: function(data) {
        var ramos = JSON.parse(data);
        for(var i = 0; i < ramos.length; i++ ) {
          availableTags.push(ramos[i].ramo)
        }
      }
   });


    $( "#tags" ).autocomplete({
      source: availableTags,
      select: function(event, ui) {   
          location.href="/ver/" + ui.item.value;
      }
    });
    });
  });*/
</script>

